@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300;400&family=Source+Code+Pro:wght@200&display=swap");
body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-weight: 200;
  background: #000;
  color: #fff;
}
h2 {
  color: #00ff94;
}

h3 {
  color: #00ff93;
}
h4 {
  color: #bdbaba;
  margin: 10px 10px;
}
h1 {
  color: #fff;
  font-family: "M PLUS 1 CODE", Arial, monospace;
}
h5 {
  color: #bdbaba;
}

.hover-animation circle {
  transition: stroke 0.5s ease-in-out; /* Übergang für den Kreis-Stil */
  cursor: pointer;
}

.hover-animation:hover circle {
  stroke: #00ff93; /* Farbe bei Hover */
  cursor: pointer;
}

.hover-animation text {
  fill: white; /* Standardfarbe für den Text */
  transition: fill 0.5s ease-in-out; /* Übergang für den Text-Stil */
  cursor: pointer;
}

.hover-animation:hover text {
  fill: #00ff93; /* Farbe bei Hover für den Text */
  cursor: pointer;
}

.hover-animation2 circle {
  transition: stroke 0.5s ease-in-out; /* Übergang für den Kreis-Stil */
  cursor: pointer;
}

.hover-animation2:hover circle {
  stroke: #00ff93; /* Farbe bei Hover */
  cursor: pointer;
}

.hover-animation2 text {
  fill: white; /* Standardfarbe für den Text */
  transition: fill 0.5s ease-in-out; /* Übergang für den Text-Stil */
  cursor: pointer;
}

.hover-animation2:hover text {
  fill: #00ff93; /* Farbe bei Hover für den Text */
  cursor: pointer;
}
